doctype html
html(lang='en')
        include header.pug
        body

            .container

                .jumbotron

                        h1.display-4.m-b-2 Email's generator
                        form(method='POST' action='/generator')
                            div.form-group
                                label(for='lastname') Name
                                input.form-control(type='text' id='lastname' placeholder='Name' name='lastname')
                            div.form-group
                                label(for='firstname') Firstname
                                input.form-control(type='text' id='firstname' placeholder='firstname' name='firstname')
                            div.form-group
                                label(for='domaine') Domaine name
                                input.form-control(type='text' id='domaine' placeholder='Domaine name' name='domaine')
                            button.btn.btn-primary(type='submit') Generate CSV
        include footer.pug
