html
  include header.pug
  head
    title=title
  body
    .main.container
      .row
        .col-md-6.col-md-offset-3
          h1.display-4.m-b-2 Welcome to your new mail's generator! 
          p By clicking on Connect you can access your account :
            a(href="/login") connexion
          p A new user ? register and enjoy!
           a(href="/register") create an account