body
    .container
        h1.display-4.m-b-2 #{title}
        .jumbotron
            if error
                p #{error}




            form(method='POST' action='/')
                div.form-group
                    label(for='email') Votre adresse email:
                    input#email.form-control(type='email', placeholder='name@email.com' name='email')
                div.form-group
                    label(for='pw') Votre mot de passe:
                    input#pw.form-control(type='password', placeholder='******' name='password')
                div.form-group
                    label(for='pw2') Confirmer votre mot de passe:
                    input#pw2.form-control(type='password', placeholder='******' name='confirmPassword')
                button.btn.btn-primary(type='submit') Register
                p You have already an account go to:


                a.button.btn.btn-success(href="/login") login


